{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'images/icons/planet-earth.png'%}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        margin-top: 8%;
        margin-left: 10%;
        width: 75%;
    }

    .card img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
    }

    .card .details {
        padding: 10px;
        flex: 1;
    }
</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Plant Species </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>



            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="search_plant">
                {%csrf_token%}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    id="search_species" name="search_species">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <ul>
        {% for species in species_list.data %}
        <li class="card">
            <img src="{{ species.default_image.thumbnail }}" alt="{{ species.common_name }}">
            <div class="details">
                <h2>{{ species.common_name }}</h2>
                <p>Scientific Name: {{ species.scientific_name }}</p>
                <p>Other Name: {{ species.other_name }}</p>
                <p>Cycle: {{ species.cycle }}</p>
                <p>Watering: {{ species.watering }}</p>
                <p>Sunlight: {{ species.sunlight }}</p>
                <a class="btn btn-primary view-more" href="{% url 'view_more_species' species.id %}">View More</a>

            </div>
        </li>
        {% endfor %}
    </ul>




</body>

</html>